<div class="about-school">
    <h1>About School</h1>
    <div class="discription">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab cupiditate pariatur amet facilis accusantium tenetur, iure recusandae sunt eos voluptatum sed labore. Consequuntur amet totam repudiandae labore magnam laboriosam adipisci!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab cupiditate pariatur amet facilis accusantium tenetur, iure recusandae sunt eos voluptatum sed labore. Consequuntur amet totam repudiandae labore magnam laboriosam adipisci!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab cupiditate pariatur amet facilis accusantium tenetur, iure recusandae sunt eos voluptatum sed labore. Consequuntur amet totam repudiandae labore magnam laboriosam adipisci!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab cupiditate pariatur amet facilis accusantium tenetur, iure recusandae sunt eos voluptatum sed labore. Consequuntur amet totam repudiandae labore magnam laboriosam adipisci!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab cupiditate pariatur amet facilis accusantium tenetur, iure recusandae sunt eos voluptatum sed labore. Consequuntur amet totam repudiandae labore magnam laboriosam adipisci!
    </div>
</div>