<main role="main" class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1>About school</h1>
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint voluptates soluta, atque provident possimus ipsa non labore vel quis nulla error ratione consequuntur ea reiciendis hic facilis deserunt inventore itaque?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa hic ab architecto natus quibusdam, omnis aut commodi suscipit nobis provident aperiam facilis excepturi, necessitatibus expedita illum quia magnam temporibus! Inventore?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa hic ab architecto natus quibusdam, omnis aut commodi suscipit nobis provident aperiam facilis excepturi, necessitatibus expedita illum quia magnam temporibus! Inventore?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa hic ab architecto natus quibusdam, omnis aut commodi suscipit nobis provident aperiam facilis excepturi, necessitatibus expedita illum quia magnam temporibus! Inventore?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa hic ab architecto natus quibusdam, omnis aut commodi suscipit nobis provident aperiam facilis excepturi, necessitatibus expedita illum quia magnam temporibus! Inventore?
            </div>
        </div>
        <div class="col-lg-4 blog-main">
            <h3 class="pb-4 mb-4 font-italic border-bottom">
              Our Teachers
            </h3>
        </div>
    </div>
</main>
